.card {
  //width: 230px;
  border-radius: 20px;
  background: #1b233d;
  padding: 5px;
  overflow: hidden;
  box-shadow: rgba(222, 222, 239, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover {
    transform: scale(1.05);
  }

  .top-section {
    height: 170px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      45deg,
      rgb(4, 159, 187) 0%,
      rgb(80, 246, 255) 100%
    );
    position: relative;

    .border {
      border: none;
      border-bottom-right-radius: 10px;
      height: 30px;
      width: 175px;
      background: white;
      background: #1b233d;
      position: relative;
      transform: skew(-40deg);
      border: none !important;
      //box-shadow: -10px -10px 0 0 #a1a9c4;

      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        top: 0;
        right: -15px;
        background: rgba(255, 255, 255, 0);
        border-top-left-radius: 10px;
        box-shadow: -5px -5px 0 2px #1b233d;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 0;
      background: rgba(255, 255, 255, 0);
      height: 15px;
      width: 15px;
      border-top-left-radius: 15px;
      box-shadow: -5px -5px 0 2px #1b233d;
    }

    .icons {
      position: absolute;
      top: 0;
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: space-between;

      .logo {
        height: 100%;
        color: #fff;
        font-size: 12px;
        padding: 7px 0 7px 15px;

        .top-section {
          height: 100%;
        }
      }

      .social-media {
        height: 100%;
        padding: 8px 15px;
        display: flex;
        gap: 7px;
        .update_me {
          border: 1px solid #1b233d;
          color: #1b233d;
          background-color: transparent;
          border-radius: 3px;
          height: fit-content;
        }
        .opacity_false{
          opacity: 0.5;
          pointer-events: none;
        }

        .svg {
          height: 100%;
          fill: #1b233d;

          &:hover {
            fill: white;
          }
        }
      }
    }
    .edit_me {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      padding: 0px 15px;
      .form__group {
        position: relative;
        //padding: 20px 0 0;
        width: 100%;
      }

      .form__field {
        font-family: inherit;
        width: 100%;
        border: none;
        border-bottom: 1px solid #000;
        outline: 0;
        font-size: 12px;
        color: #000;
        padding-top: 10px;
        background: transparent;
        transition: border-color 0.2s;
        margin-bottom: 7px;
      }

      .form__field::placeholder {
        color: transparent;
      }

      .form__field:placeholder-shown ~ .form__label {
        font-size: 12px;
        cursor: text;
        top: 10px;
      }

      .form__label {
        position: absolute;
        top: -4px;
        display: block;
        transition: 0.2s;
        font-size: 12px;
        color: #000;
        pointer-events: none;
      }

      .form__field:focus ~ .form__label {
        position: absolute;
        top: 10;
        display: block;
        transition: 0.2s;
        font-size: 12px;
        color: #000;
      }
      .form__field:focus ~ .invalid_input_lable{
        color: red;
      }
      .invalid_input_lable{
        color: red;
      }

      /* reset input */
      .form__field:required,
      .form__field:invalid {
        box-shadow: none;
      }
      .invalid_input {
        color: red;
        border-bottom: 1px solid red;
      }
    }
  }

  .bottom-section {
    margin-top: 15px;
    padding: 10px 5px;

    .title {
      display: block;
      font-size: 17px;
      font-weight: bolder;
      color: white;
      text-align: center;
      letter-spacing: 2px;
    }

    .row {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .item {
        flex: 30%;
        text-align: center;
        padding: 5px;
        color: rgba(170, 222, 243, 0.721);

        .big-text {
          font-size: 12px;
          display: block;
        }

        .regular-text {
          font-size: 9px;
        }

        &:nth-child(2) {
          border-left: 1px solid rgba(255, 255, 255, 0.126);
          border-right: 1px solid rgba(255, 255, 255, 0.126);
        }
      }
    }
  }
}
.nodata {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    margin-top: 10px;
  }
}
